:root {
    --clr-primary-200: #fdfffc;
    --clr-primary-800: #000;

    --clr-accent-200: #e71d36;
    --clr-accent-800: #d80032;

    --ff-accent: 'Oswald', sans-serif;
    --ff-main: ;
}

*, 
::after, 
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: var(--clr-primary-200);
}

.section-p1 {
    padding: 40px 80px;
 }

 .section-m1 {
    margin: 0px 200px;
 }

 span {
    color: var(--clr-accent-800);
    font-family: var(--ff-accent);
}

h1 {
    margin: 0;
}

 h6 {
    line-height: 25px;
    padding-block: 8px;
}

/* Hero Section */

#hero .hero {
    height: 100vh;
    width: 100%;
    display: flex;
}

#hero .hero .hero-content-right {
    width: 50%;
    background: var(--clr-primary-800);
    color: var(--clr-primary-200);
    text-align: left;
    padding-left: 20px;
    padding-top: 40vh;
    align-items: center;
}

#hero .hero .right-container {
    width: 100%;
    height: 200px;
    text-align: left;
    border-left: 4px solid var(--clr-primary-200);
    border-top: 4px solid var(--clr-primary-200);
    padding-left: 20px;
    padding-top: 10px;
}

#hero .hero .hero-image {
    position: relative;
    min-width: 50%;
    background: var(--clr-primary-800);
}

#hero .hero img {
    position: absolute;
    right: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}

/* Header Section */

#header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-200);
}

#logo {
    font-family: var(--ff-accent);
    color: var(--clr-primary-800);
    font-size: 22px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
    padding-top: 13px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: var(--clr-primary-800);
}

.nav-links li a:hover {
    color: var(--clr-accent-800);
}

button {
    padding: 9px 25px;
    background-color: rgba(216, 0, 50, 1);
    font-size: 18px;
    font-weight: 600;
    color: #000;
    border: transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(245, 0, 50, 1);
}

/* About section */

#about .about {
    width: 100%;
    display: flex;
}

#about .about .about-content-left {
    width: 50%;
    align-items: center;
    background: var(--clr-primary-800);
    color: var(--clr-primary-200);
    padding-right: 20px;
    padding-top: 50px;
}

#about .about .left-container {
    width: 100%;
    height: 250px;
    text-align: right;
    border-right: 4px solid var(--clr-primary-200);
    padding-right: 10px;
    padding-bottom: 10px;
}

#about .about .about-content-right {
    width: 50%;
    background: var(--clr-primary-800);
    color: var(--clr-primary-200);
    text-align: left;
    padding-left: 20px;
    padding-top: 305px;
    padding-bottom: 50px;
}

#about .about .right-container {
    width: 100%;
    height: 200px;
    text-align: left;
    border-left: 4px solid var(--clr-primary-200);
    padding-left: 20px;
    padding-top: 20px;
}

/* Skills section */

#skills .skills {
    width: 100%;
    display: flex;
}

#skills .skills .left-container,
#skills .skills .right-container {
    display: flex;
}

#skills .skills .right-container {
    width: 100%;
    height: 200px;
    text-align: left;
    border-left: 4px solid var(--clr-primary-200);
    padding-left: 20px;
    padding-top: 20px;
}

#skills .skills .skills-content-right {
    width: 50%;
    background: var(--clr-primary-800);
    color: var(--clr-primary-200);
    text-align: left;
    padding-left: 20px;
    padding-top: 30vh;
    padding-bottom: 50px;
}

#skills .skills .left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    text-align: right;
    border-right: 4px solid whitesmoke;
    padding-right: 20px;
}

#skills .skills .skills-content-left {
    width: 50%;
    background: var(--clr-primary-800);
    color: var(--clr-primary-200);
    padding-right: 20px;
    padding-top: 50px;
}

/* Projects section */

#projects .projects {
   position: relative;
   margin: 0;
   padding: 0;
   min-height: 550px;
   background-color: var(--clr-primary-800);
}

#projects .projects .album {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1020px;
}

#projects .projects .album .box {
   display: inline-block;
   position: relative;
   list-style: none;
   width: 250px;
   height: 250px;
}

#projects .box img {
   width: 100%;
}

#projects .projects .box.snake {
   position: relative;
   overflow: hidden;
}

#projects .projects .overlay {
   position: absolute;
   text-align: center;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,.8);
   top: 0;
   left: 0;
}

#projects .projects .overlay h2 {
   position: absolute;
   margin: 0;
   padding: 0;
   top: 50%;
   transform: translateY(-50%);
   color: var(--clr-primary-200);
   text-transform: uppercase;
   width: 100%;
   font-family: var(--ff-accent);
   font-size: 18px;
   font-weight: 300;
}

#projects .projects .overlay a {
    text-decoration: none;
    color: var(--clr-primary-200);
}

/* Hero bottom */

#hero-bottom .hero-bottom {
    height: 100vh;
    width: 100%;
    display: flex;
}

#hero-bottom .hero-bottom .hero-bottom-content-left {
    width: 50%;
    background: var(--clr-primary-800);
    color: var(--clr-primary-200);
    text-align: right;
    padding-right: 20px;
    padding-top: 40vh;
    align-items: center;
}

#hero-bottom .hero-bottom .left-container {
    width: 100%;
    height: 200px;
    text-align: right;
    align-items: center;
    justify-content: center;
    border-right: 4px solid var(--clr-primary-200);
    border-top: 4px solid var(--clr-primary-200);
    padding-right: 20px;
    padding-top: 10px;
}

#hero-bottom .hero-bottom .hero-bottom-image {
    position: relative;
    min-width: 50%;
    background: var(--clr-primary-800);
    overflow: hidden;
}

#hero-bottom .hero-bottom img {
    position: absolute;
    left: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}

/* Contacts style */

#contacts .container {
    width: 60%;
    padding: 45px;
    border-radius: 0;
}

#contacts .row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#contacts .col-md-7 {
    padding: 20px;
    background-color: white;
}

#contacts .col-md-5 {
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-800);
    padding: 20px;
}

#contacts .form-control {
    height: 52px;
    background: var(--clr-primary-200);
    color: var(--clr-primary-800);
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none! important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#contacts .bi {
    font-size: 20px;
}

#contacts .d-flex p {
    font-size: 18px;
    padding-left: 18px;
}

/* Footer style */

footer {
    background: var(--clr-primary-800);
    color: var(--clr-primary-200);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h5 {
    font-size: 16px;
}

/* Media Query start */

@media (max-width:1200px) {
    .section-p1 {
        padding: 40px 10px;
     }
    
     .section-m1 {
        margin: 10px 10px;
     }

}

@media (max-width:600px) {

    .section-p1 {
        padding: 40px 10px;
     }
    
     .section-m1 {
        margin: 0px 10px;
     }

     /* Header */

     dl, ol, ul {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .nav-links li {
        padding: 0px 10px;
        padding-top: 0px;
    }
    
    /* Hero */

    #hero .hero .hero-content-right {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        top: 65%;
        background: transparent;
        width: 100%;
    }
    
    #hero .hero .right-container {
        padding-left: 20px;
        border-top: none;
        border-left: 2px solid var(--clr-primary-200);
    }
       
    #hero .hero .hero-image {
        position: relative;
        min-width: 100%;
    }
 
    /* About */

    #about .about {
        display: block;
    }

    #about .about .about-content-left {
        width: 100%;
        padding-left: 10px;
        padding-top: 50px;
        padding-left: 20px;
    }

    #about .about .left-container {
        width: 100%;
        height: 200px;
        text-align: left;
        border-left: 2px solid var(--clr-primary-200);
        border-bottom: 2px solid var(--clr-primary-200);
        border-right: none;
        padding-left: 20px;
    }

    #about .about .about-content-right {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #about .about .right-container {
        padding-left: 20px;
        border-top: 2px solid var(--clr-primary-200);
        border-left: 2px solid var(--clr-primary-200);
    }

    #about .about .about-content-right {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* Skills */

    #skills .skills {
        display: block;
    }

    #skills .skills .skills-content-left {
        width: 100%;
        padding-right: 20px;
        padding-left: 10px;
    }

    #skills .skills .left-container {
        padding-right: 20px;
        border-bottom: 2px solid var(--clr-primary-200);
        border-right: 2px solid var(--clr-primary-200);
    }   

    #skills .skills .skills-content-right {
        width: 100%;
        text-align: left;
        padding-right: 20px;
        padding-left: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #skills .skills .right-container {
        width: 100%;
        height: 220px;
        text-align: right;
        border-right: 2px solid var(--clr-primary-200);
        border-top: 2px solid var(--clr-primary-200);
        border-left: none;
        padding-left: 0;
        padding-right: 20px;
    }

    /* Hero bottom */

    #hero-bottom .hero-bottom {
        display: grid;
    }

    #hero-bottom .hero-bottom .hero-bottom-content-left {
        padding-top: 0px;
        width: 100%;
    }

    #hero-bottom .hero-bottom .left-container {
        border-top: none;
        border-right: 2px solid var(--clr-primary-200);
    }

    #hero-bottom .hero-bottom img {
        position: relative;
    }
    /*
    #hero .hero {
        display: grid;
    }

     #hero .hero .hero-content-left {
        width: 100%;
        padding-top: 0px;
    }

     #hero .hero img {
        position: relative;
    }    
    */
    /* Contacts */
   
    #contacts .container {
        width: 95%;
        padding: 10px;
        border-radius: 0px;
    }

    /* Footer */

    footer h5 {
        font-size: 16px;
        text-align: center;
    }
}